p {
    font-size: 1.5rem;
    line-height: 1.5;
}

header {
    position: sticky;
    width: 100vw;
    top: 0px;
}
h1 {
    position: fixed;
    height: 100vh;
    top: 34px;
}

.divtag {
    background-color: black;
    color: rgb(36, 255, 244);
    position: fixed;
    /* top: 0px; */
    bottom: 20px;
    right: 20px;
    position: sticky;
    border-radius: 50%;
    height: 70px;
    width: 70px;
}


.sticky {
    position: sticky;
    background-color: brown;
    top: 100px
}

.relative {

}