 /* Thre types of selectors 
    1. tagname
    2. classname
    3. id
*/

 a {
     color: black;
     text-decoration: none;
}

img {
     width: 40px;
 }

 .yellow-color {
     color: yellow;
 }

 .heading {
     color: yellow;
     background-color: black;
     border-radius: 10px;
     padding-left: 10px;
     padding-block: 25px;
 }

 .home-image {
     width: 1000px;
 }

 #home-image-id {
     height: 400px;
 }