.header-logo, .header-logo p, header .unorderedList , header nav{
    display: inline-block;
}

.header-logo {
    /* viewport width */
    width: 40vw;
}

header .unorderedList {
    list-style-type: none;
}
header .unorderedList a {
    text-decoration: none;
}

header .unorderedList li {
    display: inline-block;
    margin: 10px;
}