body {
    margin: 0;
}


#second-div {
    /* Difference between display-none & visibility-hidden */
    /* display: none; */
    /* visibility: hidden; */
    visibility: collapse;
    
}

li {
    list-style: none;
}




